* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "work-sans-reg";
  src: url("/static/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "work-sans-medium";
  src: url("/static/WorkSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "work-sans-bold";
  src: url("/static/WorkSans-Bold.woff2") format("woff2");
}

body {
  background-image: url("/image/background.jpg");
  background-size: cover;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  padding-top: 3%;
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100%;
}

.top-container {
  display: grid;
  grid-template-columns: 7% 77% 14%;
  gap: 1%;
  margin: 0 3%;
}

.left-side {
  width: fit-content;
}

.left-side img {
  width: 100%;
  border-radius: 11px;
}

.main-content {
  display: flex;
  margin-top: 15vh;
  gap: 5%;
}

.image-wrapper {
  margin-left: 1vw;
  width: 22%;
}

.image-wrapper img {
  width: 200px;
}

.name-display {
  font-family: "work-sans-medium";
  font-size: 1.7vw;
  color: #fff;
}

.name-typer {
  font-family: "work-sans-bold";
  font-size: 3.6vw;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: #ff4d4d;
  border-right: 4px solid #fff;
  animation: animate 7s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

.typing-container-wrapper {
  height: 7vh;
}

.typing-container {
  display: inline-block;
  border-right: 3px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  font-family: "work-sans-medium";
  font-size: 1.9vw;
  color: #fff;
  margin-top: 0.5vh;
}

.empty {
  height: 1vh;
}

.resume-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "work-sans-medium";
  border: 1px solid #fff;
  border-radius: 50px;
  width: 16vw;
  padding-left: 1vw;
  margin: 4vh 0 0 50%;
  transform: translateX(-50%);
  background: none;
  transition: ease-in-out 0.9s;
}

.resume-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4vw;
}

.resume-btn:hover {
  background-color: #74c0fc;
  cursor: pointer;
}

.download-icon {
  background-color: #74c0fc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-icon svg {
  width: 20px;
  height: 20px;
}

.right-side {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10vh;
  width: 100%;
}

#time-txt {
  font-family: "work-sans-bold";
  font-size: 2vw;
  font-weight: 500;
}

#date-txt {
  font-family: "work-sans-reg";
  font-size: 1.2vw;
  font-weight: 500;
}

.date-time-wrapper {
  color: #fff;
  text-align: right;
}

footer {
  grid-column: 1/ -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}

@media only screen and (max-width: 1100px) {
  .main-content {
    display: block;
    margin-top: 8vh;
    align-items: center;
    width: 100%;
  }

  .image-wrapper {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .name-wrapper {
    width: 100%;
  }

  .name-display {
    font-size: 2vw;
  }

  .name-typer {
    font-size: 5vw;
  }

  .typing-container {
    font-size: 2.3vw;
  }

  .resume-btn a {
    font-size: 1.8vw;
  }

  .resume-btn {
    width: 18vw;
  }

  .download-icon {
    width: 45px;
    height: 45px;
  }

  #time-txt {
    font-size: 2.1vw;
  }

  #date-txt {
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 992px) {
  .resume-btn {
    width: 22vw;
  }
}

@media only screen and (max-width: 768px) {
  .name-typer {
    border-right: 3px solid #fff;
  }

  .resume-btn a {
    font-size: 2vw;
  }

  .resume-btn {
    width: 25vw;
    margin-top: 2vh;
  }

  .download-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .image-wrapper img {
    width: 100px;
  }

  #time-txt {
    font-size: 2.5vw;
  }

  #date-txt {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 600px) {
  .name-typer {
    border-right: 2px solid #fff;
  }
  .resume-btn a {
    font-size: 2.1vw;
  }

  .resume-btn {
    width: 28vw;
  }

  .download-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .download-icon svg {
    width: 15px;
    height: 15px;
  }
}
