* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "work-sans-reg";
  src: url("/static/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "work-sans-medium";
  src: url("/static/WorkSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "work-sans-bold";
  src: url("/static/WorkSans-Bold.woff2") format("woff2");
}

body {
  background-image: url("/image/background.jpg");
  background-size: cover;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  padding: 3vh 2vw 0 2vw;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  /* background-color: coral; */
  height: 12.5vh;
}

.nav-container img {
  border-radius: 11px;
  height: 80px;
  width: 80px;
}

.date-time-wrapper {
  color: #fff;
  text-align: right;
}

#time-txt {
  font-family: "work-sans-bold";
  font-size: 2vw;
  font-weight: 500;
}

#date-txt {
  font-family: "work-sans-reg";
  font-size: 1.2vw;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: blueviolet; */
  height: 84.5vh;
}

.main-content {
  display: flex;
  justify-content: center;
  /* background-color: rgb(43, 76, 226); */
  margin-left: 6vw;
  width: fit-content;
}

.image-wrapper img {
  width: 210px;
}

.name-wrapper {
  width: fit-content;
  margin-left: 3vw;
}

.name-display {
  font-family: "work-sans-medium";
  font-size: 1.7vw;
  color: #fff;
}

.name-typer {
  font-family: "work-sans-bold";
  font-size: 3.6vw;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: #ff4d4d;
  border-right: 4px solid #fff;
  animation: animate 7s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

.typing-container-wrapper {
  height: 7vh;
}

.typing-container {
  display: inline-block;
  border-right: 3px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  font-family: "work-sans-medium";
  font-size: 1.9vw;
  color: #fff;
  margin-top: 0.5vh;
}

.empty {
  height: 1vh;
}

.resume-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "work-sans-medium";
  border: 1px solid #fff;
  border-radius: 50px;
  width: 17vw;
  padding-left: 0.5vw;
  margin: 4vh 0 0 50%;
  transform: translateX(-50%);
  background: none;
  transition: ease-in-out 0.9s;
}

.resume-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4vw;
  margin-left: 1.2vw;
}

.resume-btn:hover {
  background-color: #74c0fc;
  cursor: pointer;
}

.download-icon {
  background-color: #74c0fc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-icon svg {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1100px) {
  .nav-container {
    /* background-color: rgb(134, 36, 0); */
    height: 10.5vh;
  }

  .nav-container img {
    height: 65px;
    width: 65px;
  }

  .container {
    /* height: 86.5vh; */
  }

  #time-txt {
    font-size: 2.5vw;
  }

  #date-txt {
    font-size: 1.7vw;
  }

  .main-content {
    display: block;
    align-items: center;
  }

  .image-wrapper {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .image-wrapper img {
    width: 180px;
  }

  .name-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
  }

  .name-display {
    font-size: 2vw;
  }

  .name-typer {
    font-size: 4.5vw;
  }

  .typing-container {
    font-size: 2.3vw;
  }

  .resume-btn a {
    font-size: 1.8vw;
  }

  .resume-btn {
    width: 20vw;
  }

  .download-icon {
    width: 45px;
    height: 45px;
  }
}

@media only screen and (max-width: 992px) {
  .nav-container {
    /* background-color: rgb(0, 85, 134); */
    height: 9.8vh;
  }

  .nav-container img {
    height: 60px;
    width: 60px;
  }

  .container {
    /* height: 88vh; */
  }

  .resume-btn {
    width: 22vw;
  }
}

@media only screen and (max-width: 768px) {
  .nav-container {
    /* background-color: rgb(134, 0, 105); */
    height: 8.5vh;
  }

  .nav-container img {
    height: 52px;
    width: 52px;
  }

  .container {
    flex-direction: column;
    /* height: 88.5; */
  }

  .main-content {
    margin-left: 0vw;
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #323f58;
    margin-top: auto;
  }

  .name-display {
    font-size: 2.4vw;
  }

  .name-typer {
    font-size: 5.8vw;
    border-right: 3px solid #fff;
  }

  .typing-container {
    font-size: 2.6vw;
  }

  .resume-btn a {
    font-size: 2vw;
  }

  .resume-btn {
    width: 25vw;
    margin-top: 2vh;
  }

  .download-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .image-wrapper img {
    width: 160px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-container {
    /* background-color: rgb(22, 134, 0); */
    height: 6.5vh;
  }

  .nav-container img {
    height: 40px;
    width: 40px;
  }

  .container {
    /* height: 90.5vh; */
  }

  .name-typer {
    border-right: 2px solid #fff;
  }

  .resume-btn a {
    font-size: 2.1vw;
  }

  .resume-btn {
    width: 27vw;
  }

  .download-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .download-icon svg {
    width: 15px;
    height: 15px;
  }
}
