* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "work-sans-reg";
  src: url("../static/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "work-sans-medium";
  src: url("../static/WorkSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "work-sans-bold";
  src: url("../static/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "work-sans-itac";
  src: url("../static/WorkSans-BlackItalic.ttf") format("truetype");
}

body {
  /* background-image: url("../image/grunge-rough-old-stained-polished-and-empty-smooth-concrete-or-stone-or-wall-texture-beige-grungy-background-of-natural-cement-or-stone-perfect-for-presentation-and-construction-and-design-free-photo.jpg"); */
  background-image: url("../image/background.jpg");
  background-size: cover;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  margin: 4vh 3% 0 3%;
  display: grid;
  grid-template-columns: auto 77% 14%;
  gap: 1%;
  height: 100vh;
}

.left-side {
  width: fit-content;
}

.left-side img {
  width: 100%;
  border-radius: 11px;
}

.main-content {
  display: flex;
  margin-top: 15vh;
  gap: 5vw;
  width: fit-content;
}

.image-wrapper {
  margin-left: 1vw;
  width: auto;
}

.image-wrapper img {
  width: 250px;
}

.name-display {
  font-family: "work-sans-medium";
  font-size: 2.2rem;
  color: #fff;
  height: 7vh;
}

.name-typer {
  font-family: "work-sans-bold";
  font-size: 2.9rem;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: #ff4d4d;
  border-right: 4px solid #fff;
  animation: animate 7s linear forwards;
  height: 8vh;
}

@keyframes animate {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.typing-container-wrapper {
  height: 7vh;
}

.typing-container {
  display: inline-block;
  border-right: 3px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  font-family: "work-sans-medium";
  font-size: 1.6rem;
  color: #fff;
  margin-top: 0.5vh;
}

.empty {
  height: 1vh;
}

.resume-btn-wrapper {
  text-decoration: none;
}

.resume-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.1vw;
  color: #fff;
  font-family: "work-sans-medium";
  font-size: 1rem;
  border: 2px solid #fff;
  border-radius: 11px;
  width: fit-content;
  padding: 1vh 0.5vw 1vh 1vw;
  margin: 3vh 0 0 50%;
  transform: translateX(-50%);
  background: none;
  transition: ease-in-out 0.8s;
}

.resume-btn:hover {
  background-color: #74c0fc;
  cursor: pointer;
  font-size: 1.1rem;
}

.download-icon {
  background-color: #74c0fc;
  height: 6vh;
  width: 3vw;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10vh;
  width: 100%;
}

#time-txt {
  font-family: "work-sans-bold";
  font-size: 1.5rem;
  font-weight: 500;
}

#date-txt {
  font-family: "work-sans-reg";
  font-size: 1rem;
  font-weight: 500;
}

.date-time-wrapper {
  color: #fff;
}
