* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "work-sans-reg";
  src: url("/static/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "work-sans-medium";
  src: url("/static/WorkSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "work-sans-bold";
  src: url("/static/WorkSans-Bold.woff2") format("woff2");
}

body {
  background-image: url("/image/background.jpg");
  background-size: cover;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  padding: 3vh 2vw 0 2vw;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 12.5vh;
  flex-shrink: 0;
}

.nav-container img {
  border-radius: 11px;
  height: 80px;
  width: 80px;
}

.date-time-wrapper {
  color: #fff;
  text-align: right;
}

#time-txt {
  font-family: "work-sans-bold";
  font-size: 2vw;
  font-weight: 500;
}

#date-txt {
  font-family: "work-sans-reg";
  font-size: 1.2vw;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  height: calc(100vh - 12.5vh);
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 10vh;
  color: #fff;
  margin-bottom: 3vh;
}

.main-content::-webkit-scrollbar {
  display: none;
}

header {
  padding-bottom: 1.8vh;
}

.about-me-text {
  font-family: "work-sans-bold";
  font-size: 4.5vw;
}

.about-me-text,
.Preview-txt {
  text-align: center;
}

.Preview-txt {
  font-family: "work-sans-reg";
  font-size: 1.5vw;
  margin-top: 1vh;
}

.projects {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 3% 10%;
  margin-top: 1.5vh;
  padding-bottom: 15vh;
  width: 85%;
}

.project-item {
  width: fit-content;
  cursor: pointer;
}

.project-item-grp-1 {
  transition: all 0.5s ease-in-out;
}

.project-item-grp-1:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.03);
}

.image-1 {
  width: 100%;
}

.project-name-1 {
  font-family: "work-sans-medium";
  font-size: 1.4vw;
  margin-top: 0.9vh;
}

.project-description-1 {
  font-family: "work-sans-reg";
  font-size: 1.1vw;
  margin-top: 0.4vh;
  color: #989898;
}

.project-link-1 {
  text-decoration: none;
  color: lightskyblue;
  font-family: "work-sans-reg";
  font-size: 0.9vw;
}

.close-icon {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1vh;
}

.project-description-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.project-descriptions {
  background-color: #a4ccf0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50vw;
  height: 62vh;
  padding: 1vh 2vw 5vh 2vw;
  border-radius: 7px;
  overflow: hidden;
  cursor: default;
  margin: auto;
  margin-top: 10%;
}

.project-description-scroll-area {
  overflow-y: scroll;
  padding: 0 1vw;
  scrollbar-width: none;
  height: 95%;
  padding-bottom: 2vh;
}

.project-description-scroll-area::-webkit-scrollbar {
  display: none;
}

.project-name-2 {
  font-family: "work-sans-bold";
  font-size: 2vw;
  margin-top: 0.9vh;
  color: #3b2ef7;
}

.project-description-2 {
  font-family: "work-sans-reg";
  font-size: 1.2vw;
  margin-top: 0.4vh;
  color: #686868;
  line-height: 4vh;
  text-align: justify;
  width: fit-content;
}

.project-link-box {
  font-family: "work-sans-reg";
  font-size: 1.3vw;
  margin-top: 5vh;
  color: #000;
}

.project-link-2 {
  text-decoration: none;
  color: #3b2ef7;
  font-family: "work-sans-reg";
  font-size: 1.2vw;
  margin-left: 1.5vw;
}

.technologies {
  font-family: "work-sans-reg";
  font-size: 1.2vw;
  margin-top: 0.4vh;
  color: #686868;
}

.image-wrapper {
  display: flex;
  gap: 2vw;
  margin-top: 4vh;
  justify-content: center;
}

.image-2 {
  width: 40%;
}

.right-side {
  margin: auto 0;
}

footer {
  grid-column: 1/ -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}

@media only screen and (max-width: 1100px) {
  .nav-container {
    height: 10.5vh;
  }

  .nav-container img {
    height: 65px;
    width: 65px;
  }

  #time-txt {
    font-size: 2.5vw;
  }

  #date-txt {
    font-size: 1.7vw;
  }

  .main-content {
    align-items: center;
  }

  .about-me-text {
    font-size: 5.2vw;
  }

  .Preview-txt {
    font-size: 2.1vw;
  }

  .project-description-1 {
    font-size: 1.3vw;
  }

  .projects {
    padding-bottom: 15vh;
  }

  .project-name-1 {
    font-size: 1.8vw;
  }

  .project-link-1 {
    font-size: 1.2vw;
  }

  .project-descriptions {
    width: 70vw;
    margin-top: 18%;
  }

  .project-name-2 {
    font-size: 2.5vw;
  }

  .project-description-2 {
    font-size: 1.4vw;
    line-height: 3vh;
  }

  .project-link-box,
  .technologies {
    font-size: 1.7vw;
  }

  .project-link-2 {
    font-size: 1.5vw;
  }

  .close-icon svg {
    height: 20px;
    width: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .nav-container {
    height: 9.8vh;
  }

  .nav-container img {
    height: 60px;
    width: 60px;
  }

  .project-name-2 {
    font-size: 2.7vw;
  }

  .project-description-2 {
    font-size: 1.6vw;
  }

  .project-link-box,
  .technologies {
    font-size: 1.9vw;
  }

  .project-link-2 {
    font-size: 1.6vw;
  }
}

@media only screen and (max-width: 768px) {
  .nav-container {
    height: 8.5vh;
  }

  .nav-container img {
    height: 52px;
    width: 52px;
  }

  .container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-left: -2vw;
    margin-right: -2vw;
    height: calc(100vh - 8.5vh);
  }

  .main-content {
    margin-left: 0vw;
  }

  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #323f58;
  }

  .scroll-area {
    width: 95%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-bottom: 7vh;
  }

  .project-name-1 {
    font-size: 2.7vw;
  }

  .project-description-1 {
    font-size: 2.2vw;
  }

  .project-link-1 {
    font-size: 1.6vw;
  }

  .project-descriptions {
    width: 80vw;
    height: fit-content;
    margin-top: 21%;
  }

  .omni {
    height: 55vh;
  }

  .project-name-2 {
    font-size: 2.9vw;
  }

  .project-description-2 {
    font-size: 1.8vw;
  }

  .project-link-box,
  .technologies {
    font-size: 2.1vw;
  }

  .project-link-2 {
    font-size: 1.9vw;
  }

  .close-icon svg {
    height: 17px;
    width: 17px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-container {
    height: 6.5vh;
  }

  .nav-container img {
    height: 40px;
    width: 40px;
  }

  .about-me-text {
    font-size: 6vw;
  }

  .Preview-txt {
    font-size: 3vw;
  }

  .project-name-2 {
    font-size: 3.2vw;
  }

  .project-description-2 {
    font-size: 2vw;
    line-height: 2vh;
  }

  .project-descriptions {
    width: 85vw;
    height: fit-content;
    margin-top: 35%;
  }
}
