* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "work-sans-reg";
  src: url("../static/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "work-sans-medium";
  src: url("../static/WorkSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "work-sans-bold";
  src: url("../static/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "work-sans-itac";
  src: url("../static/WorkSans-BlackItalic.ttf") format("truetype");
}

body {
  /* background-image: url("../image/grunge-rough-old-stained-polished-and-empty-smooth-concrete-or-stone-or-wall-texture-beige-grungy-background-of-natural-cement-or-stone-perfect-for-presentation-and-construction-and-design-free-photo.jpg"); */
  background-image: url("../image/background.jpg");
  background-size: cover;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.container {
  margin: 4vh 3% 0 3%;
  display: grid;
  grid-template-columns: auto 77% 14%;
  gap: 1%;
  height: 100vh;
  position: relative;
}

.left-side,
.right-side {
  overflow: hidden;
}

.left-side {
  width: fit-content;
}

.left-side img {
  width: 100%;
  border-radius: 11px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  overflow: hidden;
  z-index: 0;
  color: #fff;
}

.about-me-text {
  font-family: "work-sans-bold";
  font-size: 4vw;
}

.about-me-text,
.Preview-txt {
  text-align: center;
}

.Preview-txt {
  font-family: "work-sans-reg";
  font-size: 1.5vw;
  margin-top: 2vh;
}

.scroll-area {
  overflow-y: scroll;
  padding: 0 1vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: #fff;
  padding-bottom: 10vh;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

.projects {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 5% 10%;
  margin-top: 6vh;
}

.project-item {
  width: fit-content;
  cursor: pointer;
}

.project-item-grp-1 {
  transition: all 0.5s ease-in-out;
}

.project-item-grp-1:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.03);
}

.image-1 {
  width: 100%;
}

.project-name-1 {
  font-family: "work-sans-medium";
  font-size: 1.4vw;
  margin-top: 0.9vh;
}

.project-description-1 {
  font-family: "work-sans-reg";
  font-size: 1.1vw;
  margin-top: 0.4vh;
  color: #989898;
}

.project-link-1 {
  text-decoration: none;
  color: lightskyblue;
  font-family: "work-sans-reg";
  font-size: 0.9vw;
}

.close-icon {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5vh;
}

.project-descriptions {
  background-color: #d6ecff;
  width: 50vw;
  height: 62vh;
  padding: 1vh 2vw 5vh 2vw;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  overflow: hidden;
  cursor: default;
}

.project-description-scroll-area {
  overflow-y: scroll;
  padding: 0 1vw;
  scrollbar-width: none;
  height: 100%;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}

.project-description-scroll-area::-webkit-scrollbar {
  display: none;
}

.project-name-2 {
  font-family: "work-sans-bold";
  font-size: 2vw;
  margin-top: 0.9vh;
  color: #3b2ef7;
}

.project-description-2 {
  font-family: "work-sans-reg";
  font-size: 1.3vw;
  margin-top: 0.4vh;
  color: #686868;
  line-height: 4vh;
  text-align: justify;
  white-space: nowrap;
  width: fit-content;
}

.project-link-box {
  font-family: "work-sans-reg";
  font-size: 1.4vw;
  margin-top: 5vh;
  color: #000;
}

.project-link-2 {
  text-decoration: none;
  color: #3b2ef7;
  font-family: "work-sans-reg";
  font-size: 1.2vw;
  margin-left: 1.5vw;
}

.technologies {
  font-family: "work-sans-reg";
  font-size: 1.4vw;
  margin-top: 0.4vh;
  color: #686868;
}

.image-wrapper {
  display: flex;
  gap: 2vw;
  margin-top: 4vh;
  justify-content: center;
}

.image-2 {
  width: 40%;
}

.right-side {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10vh;
  width: 100%;
}

#time-txt {
  font-family: "work-sans-bold";
  font-size: 1.5rem;
  font-weight: 500;
}

#date-txt {
  font-family: "work-sans-reg";
  font-size: 1rem;
  font-weight: 500;
}

.date-time-wrapper {
  color: #fff;
  text-align: right;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {
  .main-content {
    margin-top: 8vh;
    align-items: center;
    width: 100%;
  }

  .about-me-text {
    font-size: 4.4vw;
  }

  .Preview-txt {
    font-size: 2vw;
  }

  #time-txt {
    font-size: 2.1vw;
  }

  #date-txt,
  .project-description-1 {
    font-size: 1.3vw;
  }

  .project-name-1 {
    font-size: 1.8vw;
  }

  .project-link-1 {
    font-size: 1.2vw;
  }

  .project-name-2 {
    font-size: 2.4vw;
  }

  .project-description-2 {
    font-size: 1.5vw;
  }

  .project-link-box,
  .technologies {
    font-size: 1.7vw;
  }

  .project-link-2 {
    font-size: 1.4vw;
  }

  .close-icon svg {
    height: 20px;
    width: 20px;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  #time-txt {
    font-size: 2.5vw;
  }

  #date-txt {
    font-size: 1.6vw;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }

  .project-name-1 {
    font-size: 2.1vw;
  }

  .project-description-1 {
    font-size: 1.8vw;
  }

  .project-link-1 {
    font-size: 1.6vw;
  }

  .project-descriptions {
    width: 55vw;
    height: 55vh;
  }

  .project-name-2 {
    font-size: 2.6vw;
  }

  .project-description-2 {
    font-size: 1.7vw;
  }

  .project-link-box,
  .technologies {
    font-size: 1.9vw;
  }

  .project-link-2 {
    font-size: 1.6vw;
  }

  .close-icon svg {
    height: 17px;
    width: 17px;
  }
}

@media only screen and (max-width: 600px) {
  .project-descriptions {
    height: 50vh;
  }
}
