* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "work-sans-reg";
  src: url("/static/WorkSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "work-sans-medium";
  src: url("/static/WorkSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "work-sans-bold";
  src: url("/static/WorkSans-Bold.woff2") format("woff2");
}

body {
  background-image: url("/image/background.jpg");
  background-size: cover;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.container {
  padding-top: 3%;
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100%;
}

.top-container {
  display: grid;
  grid-template-rows: 16% 83%;
  gap: 1%;
  margin: 0 3%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.logo-wrapper img {
  border-radius: 11px;
  height: 100%;
  object-fit: contain;
}

.date-time-wrapper {
  color: #fff;
  text-align: right;
}

#time-txt {
  font-family: "work-sans-bold";
  font-size: 2vw;
  font-weight: 500;
}

#date-txt {
  font-family: "work-sans-reg";
  font-size: 1.2vw;
  font-weight: 500;
}

section {
  display: grid;
  grid-template-columns: 87% 13%;
}

.scroll-area {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: #fff;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-text {
  font-family: "work-sans-bold";
  font-size: 4.5vw;
}

.Preview-txt {
  font-family: "work-sans-reg";
  font-size: 1.5vw;
  margin-top: 1vh;
  width: 95%;
  text-align: justify;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vh;
  margin-top: 10vh;
}

.contact {
  width: 17vw;
  background-color: #2838589c;
  border-radius: 9px;
  padding: 2vh 0 2vh 1.5vw;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.contact:hover {
  transform: scale(1.02);
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 0.7vw;
  font-size: 1.7vw;
  margin-bottom: 0.7vh;
  font-family: "work-sans-medium";
  font-weight: 700;
}

.contact a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3vw;
  font-family: "work-sans-reg";
  width: fit-content;
}

.contact a:hover {
  color: lightskyblue;
}

.socials {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

.social {
  transition: all 0.3s ease-in-out;
}

.social:hover {
  transform: scale(1.1);
}

.social svg path {
  fill: #74c0fc;
  transition: fill 0.3s ease;
}

.social a:hover svg path {
  fill: rgb(255, 48, 48);
}

.location {
  font-family: "work-sans-reg";
  font-size: 1.2vw;
  display: flex;
  align-items: flex-end;
  gap: 0.2vw;
}

.right-side {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10vh;
  width: 100%;
}

footer {
  grid-column: 1/ -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}

@media only screen and (max-width: 1100px) {
  .top-container {
    grid-template-rows: 12% 87%;
  }

  .about-me-text {
    font-size: 5.2vw;
  }

  .Preview-txt {
    font-size: 2.1vw;
  }

  #time-txt {
    font-size: 2.5vw;
  }

  #date-txt {
    font-size: 1.7vw;
  }

  .contact {
    width: 22vw;
  }

  .icon-text {
    font-size: 2vw;
  }

  .contact a {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 992px) {
  .top-container {
    grid-template-rows: 11% 88%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 5%;
  }

  .main-content {
    grid-column: 1/-1;
  }

  .top-container {
    grid-template-rows: 10% 89%;
  }

  .about-me-text {
    font-size: 5.8vw;
  }

  .Preview-txt {
    font-size: 2.7vw;
  }

  .contact-info {
    flex-direction: column;
    gap: 3vh;
    margin-top: 8vh;
  }

  .contact {
    width: 30vw;
    padding: 1vh 0 1vh 2vw;
  }

  .icon-text {
    font-size: 3vw;
  }

  .icon-text svg {
    width: 20px;
    height: 20px;
  }

  .contact a {
    font-size: 2.4vw;
  }

  .location {
    font-size: 2.7vw;
  }

  .socials {
    margin-top: 8vh;
    gap: 4vh;
  }

  .socials svg,
  .location svg {
    width: 27px;
    height: 27px;
  }

  .icon-text svg {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .top-container {
    grid-template-rows: 6% 93%;
  }

  .about-me-text {
    font-size: 6vw;
  }

  .Preview-txt {
    font-size: 2.8vw;
  }
}
